<div id="filters" class="col-xs-3">
    <form action="">
        <h4>Day:</h4>
        <div class="radio"><label><input id="day0" type="radio" name="day" value="0"></label></div>
        <div class="radio"><label><input id="day1" type="radio" name="day" value="1" checked></label></div>
        <div class="radio"><label><input id="day2" type="radio" name="day" value="2"></label></div>
        <div class="radio"><label><input id="day3" type="radio" name="day" value="3"></label></div>
        <div class="radio"><label><input id="day4" type="radio" name="day" value="4"></label></div>
        <div class="radio"><label><input id="day5" type="radio" name="day" value="5"></label></div>
        <div class="radio"><label><input id="day6" type="radio" name="day" value="6"></label></div>

        <!-- TIME PICKER -->
        <h4>Times:</h4>
        <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
        <script type="text/javascript">
            $('#timepicker').timepicker({});
        </script>

        <h4>Distance:</h4>
        <input type="text" value="10000" name="distance">
    </form>
</div>
