<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}{% endblock %}</title>

		<!-- Bootstrap -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO5znt-cT3M0AEzUyVyS3000SesvA_vPs&libraries=geometry"></script>
		{#<script src='https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js'></script> #}

		<!-- Timepicker -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>

		<!-- Moment.js -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

		<!-- star ratings css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

		<script src="{{url_for('static', filename='js/map.js')}}"></script>
	</head>
	<body>
		<div class="container-fluid">
			{% include "_navbar.html" %}
			{% with errors = get_flashed_messages() %}
				{% for error in errors %}
					<p class="errors">{{ error }}</p>
				{% endfor %}
			{% endwith %}
			<a href="/register" class="pull-right">Register Here</a>
			<div class="row">
				<div class="col-xs-9">
					<div class="row">
						<div id="map-canvas" class="col-xs-12"></div>
						<div id="popup" class="col-xs-12"></div>
					</div>
				</div>
				{% include "_sidebar.html" %}
			</div>
		</div>
	</body>
</html>
