{% extends "base.html" %}
{% block title %} Login / Registration {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/create" method="post" class="col-xs-6 form-horizontal">
	<h2 class="text-center">Register</h2>
	<div class="form-group">
		<label for="name" class="col-xs-2 control-label">First name:</label>
		<div class="col-xs-10">
			<input class="col-xs-10 form-control" type="text" name="fname" placeholder="First name">
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-xs-2 control-label">Last name:</label>
		<div class="col-xs-10">
			<input class="col-xs-10 form-control" type="text" name="lname" placeholder="Last name">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-xs-2 control-label">Email:</label>
		<div class="col-xs-10">
			<input class="col-xs-10 form-control" type="email" name="email" placeholder="Email">
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-xs-2 control-label">Password:</label>
		<div class="col-xs-10">
			<input class="col-xs-10 form-control" type="password" name="pword" placeholder="Password">
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-xs-2 control-label">Password Confirmation:</label>
		<div class="col-xs-10">
			<input class="col-xs-10 form-control" type="password" name="cword" placeholder="Password confirmation">
		</div>
	</div>
	<div class="form-group">
		<label for="number" class="col-xs-2 control-label">Mobile Number:</label>
		<div class="col-xs-10">
			<input class="col-xs-10 form-control" type="text" name="number" placeholder="5552120000">
		</div>
	</div>
	<input type="submit" class="btn btn-primary" value="Register">
</form>

<form class="col-xs-6 form-horizontal" action="/login" method="post">
	<h2 class="text-center">Log in</h2>
	<div class="form-group">
		<label class="col-xs-2 control-label" for="email">Email:</label>
		<div class="col-xs-10">
			<input  class="form-control" type="email" name="email">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label" for="password">Password:</label>
		<div class="col-xs-10">
			<input class="form-control" type="password" name="password">
		</div>
	</div>
	<input type="submit" value="Login" class="btn btn-primary"></label></label></form>

{% endblock %}
